@import url("https://fonts.googleapis.com/css2?family=Avenir");


* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 16px;
}

// .main {
//   flex: 1;
// }



#root {
  height: 100%;
  width: 100vw;
}
