.employee-list-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  background-color: #D0D0D0;

  .page-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

.table-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
}
}